<app-loader [isLoading]="isLoading"></app-loader>
<div class="container">
  <h2>My Roommates</h2>
  <br />
  <div class="roommate__list splitter__container" *ngIf="usersForm" [formGroup]="usersForm">
    <div class="row">
      <h4 class="col-sm-3">Roommates List</h4>
      <button type="button" class="col-sm-1 offset-sm-7 btn btn-sm btn-success" (click)="addUser()">
        <i class="fas fa-plus"></i>Add New
      </button>
    </div>

    <br />
    <br />
    <br />
    <table formArrayName="users" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Phone No</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersForm?.controls?.users?.controls; index as i" [formGroupName]="i">
          <td>
            <input type="text" class="form-control" formControlName="name" />
          </td>
          <td>
            <select id="gender" class="form-control" formControlName="gender">
              <option value="FEMALE">FEMALE</option>
              <option value="MALE">MALE</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control" formControlName="mobileNo" />
          </td>
          <td>
            <i *ngIf="user.value.addedBy" class="fas fa-edit btn disabled"></i>
            &nbsp;
            <i
              class="fas fa-times-circle"
              [ngClass]="{ 'btn disabled': user.value.addedBy }"
              (click)="! user.value.addedBy && deleteUser(i)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <button
      type="button"
      class="btn btn-success"
      [disabled]="usersForm.pristine || usersForm.invalid"
      (click)="saveDetails()"
    >
      Save Details
    </button>
  </div>
</div>
