<div class="container">
    <h2>My Roommates</h2>
<app-loader [isLoading]="isLoading"></app-loader>
<br>
<div class="roommate__list" *ngIf="usersForm" [formGroup]="usersForm">
    <h3>Roommates List</h3>
    <br>
    <button type="button" class="btn btn-primary" (click)="addUser()">Add New</button>
    <br>
    <br>
    <table formArrayName="users" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Phone No</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of usersForm?.controls?.users?.controls; index as i" [formGroupName]="i">
          <td>
            <input type="text" class="form-control" formControlName="name">
          </td>
          <td>
            <select id="gender" class="form-control" formControlName="gender">
              <option value="FEMALE">FEMALE</option>
              <option value="MALE">MALE</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control" formControlName="mobileNo">
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(i)" >Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
      <button type="button" class="btn btn-primary" (click)="saveDetails()">Save Details</button>
</div>
</div>