.transactions__heading {
    color: rgb(39, 224, 39);
}

.transactions__icon{
    color: rgb(39, 224, 39);
}

.transactions__container {
    border: 1px solid rgba(133, 212, 226, 0.877);
    box-shadow: 4px 4px 4px #ccc;
}